:root {
	--black:#000;
	--invert-black:#fff;
}


.FAG_nav,
.FAG_row,
.FAG_item,
.FAG_item_th,
.FAG_link,
.FAG_aside,
.FAG_img {
	margin: 0px;
	padding:0px;
}

.FAG_nav {
	width: 100%;
	margin: 2% auto;
	border-bottom: 1px solid var(--invert-black);
	text-align: center;
}
.FAG_nav_p {width: 20%;
	padding:15px 0px;
	display: inline-block;
	text-align: center;
}

.FAG_link {
	text-decoration: none;
}

.FAG_row {
  width: 100%;
  margin-bottom: 2%;
  display: flex;
}
.FAG_row:after {
  content: "";
  padding-top: 32%;
  display: block;
}

.FAG_item,
.FAG_item_th {
  min-height: 100%;
  width: 32%;
  vertical-align: top;
}
.FAG_item {
  margin-right: 2%;
}

.FAG_item_th,
.FAG_item:last-child,
.FAG_item_th:last-child {
  margin:0px;
}
.FAG_item:hover,
.FAG_item_th:hover {
  box-shadow: 0 0 15px var(--black);
}

.FAG_aside {
  height: 100%;
  background-position:center center;
  background-size:cover;
}



@media (min-width: 1200px) {
  .FAG_mobileP {
    display: none;
  }

  .FAG_p {
    color:#fff;
    background-color:rgba(0, 0, 0, 0.91);
    opacity:0;
    transition:all .2s ease;
    overflow: hidden;
    padding:4px;

    position: absolute;
    max-width: 32%;
    max-width: 376px;
    //max-height: 350px;
  }

  .FAG_item:hover .FAG_p,
  .FAG_item_th:hover .FAG_p {
    opacity:1;
  }
}

@media (max-width: 1200px) {
  .FAG_mobileP {
    display: block;
    color:#fff;
    background-color:rgba(0, 0, 0, 0.91);
    overflow: hidden;
    height: 25px;
    position: absolute;
  }

  .FAG_p {
    display: none;
  }
}