:root {
	--black:#000;
	--invert-black:#fff;
  --backgroundRGBA: rgba(0, 0, 0, 0.8);
  --border-radius: 0px;
  --row-svg:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' fill='white' viewBox='0 0 512 512'%3E%3Ctitle%3EApps%3C/title%3E%3Crect x='48' y='48' width='112' height='112' rx='8' ry='8'/%3E%3Crect x='200' y='48' width='112' height='112' rx='8' ry='8'/%3E%3Crect x='352' y='48' width='112' height='112' rx='8' ry='8'/%3E%3Crect x='48' y='200' width='112' height='112' rx='8' ry='8'/%3E%3Crect x='200' y='200' width='112' height='112' rx='8' ry='8'/%3E%3Crect x='352' y='200' width='112' height='112' rx='8' ry='8'/%3E%3Crect x='48' y='352' width='112' height='112' rx='8' ry='8'/%3E%3Crect x='200' y='352' width='112' height='112' rx='8' ry='8'/%3E%3Crect x='352' y='352' width='112' height='112' rx='8' ry='8'/%3E%3C/svg%3E");
  --list-svg:  url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' fill='white' viewBox='0 0 512 512'%3E%3Ctitle%3ESquare%3C/title%3E%3Cpath d='M48 48h416v416H48z'/%3E%3C/svg%3E"); ;
}



.FAG_tools,
.FAG_nav,
.FAG_row,
.FAG_item,
.FAG_item_th,
.FAG_link,
.FAG_aside,
.FAG_img {
	margin: 0px;
	padding:0px;
}

.FAG_nav {
	width: 100%;
	margin: 2% auto;
	border-bottom: 1px solid var(--invert-black);
	text-align: center;
}
.FAG_nav_p {width: 20%;
	padding:15px 0px;
	display: inline-block;
	text-align: center;
}

.FAG_link {
	text-decoration: none;
}

.FAG_tools,
.FAG_row {
  width: 100%;
  display: flex;
}
.FAG_row:after {
  content: "";
  padding-top: 32%;
  display: block;
}

.FAG_item,
.FAG_item_th {
  min-height: 100%;
  vertical-align: top;
}

.FAG_tools {margin: 15px 0px;/*border-bottom: 1px solid var(--black)*/}
.FAG_tools .FAG_statisticTools { 
  background:var(--backgroundRGBA);
  border-radius: var(--border-radius);
  padding: 8px 10px;
  color: #fff;
}
.FAG_tools .FAG_viewTools { 
  //width:50%;
  //max-width: 50px;
  max-height: 37px;
  margin-left:auto;
  display: flex;
  background:var(--backgroundRGBA);
  border-radius: var(--border-radius);
  padding: 4px;
}
.FAG_viewTools aside {

  width: 50px;
  text-align: center;
  /*color:#bababa;*/
}
.FAG_tools aside:first-child {}
.FAG_viewTools_row { background: var(--row-svg) no-repeat; }
.FAG_viewTools_list { background: var(--list-svg) no-repeat; }
.FAG_viewTools_row, .FAG_viewTools_list { background-position:center center; background-size: 15px; }

.FAG_item_th,
.FAG_item:last-child,
.FAG_item_th:last-child {
  margin:0px;
}


.FAG_aside {
  height: 100%;
  background-position:center center;
  background-size:cover;
}



@media (min-width: 1200px) {

  .FAG_row {
    margin-bottom: 2%;
  }

  .FAG_item {
    margin-right: 2%;
  }

  .FAG_item,
  .FAG_item_th {
    width: 32%;
  }

  .FAG_mobileP {
    display: none;
  }

  .FAG_p {
    color:#fff;
    background-color: var(--backgroundRGBA);
    opacity:0;
    transition:all .2s ease;
    overflow: hidden;
    padding:4px;

    position: absolute;
    max-width: 32%;
    max-width: 376px;
    //max-height: 350px;
  }

  .FAG_item:hover .FAG_p,
  .FAG_item_th:hover .FAG_p {
    opacity:1;
  }

  .FAG_item:hover,
  .FAG_item_th:hover {
    box-shadow: 0 0 15px var(--black);
  }
}

@media (max-width: 1200px) {

  .FAG_row {
    margin-bottom: .5%;
  }
  .FAG_item {
    margin-right: .5%;
  }

  .FAG_item,
  .FAG_item_th {
    width: 33%;
  }
  

  .FAG_mobileP {
    color:#fff;
    background-color: var(--backgroundRGBA);
    height: 25px;
    text-overflow: ellipsis;
    white-space:  nowrap;
  }

  .FAG_p {
    display: none;
  }
}



.FAG_item_list {
  margin: 20px 0px;
}

.FAG_aside_list {
  margin: 0px auto;
  width: 95%;
  height: 100%;
  background-position:center center;
  background-size:cover;
  display: flex;
}

.FAG_aside_list:after {
  content: "";
  padding-top: 100%;
  display: block;
}

.FAG_active {color:#fff;}