:root {--black:#000;--invert-black:#fff;}

.FAG_nav,.FAG_item,.FAG_item_th,.FAG_link,.FAG_aside,.FAG_img{margin: 0px;padding:0px;}
.FAG_nav{width: 100%;margin: 2% auto;border-bottom: 1px solid var(--invert-black);text-align: center;}
.FAG_nav_p{width: 20%;padding:15px 0px;display: inline-block;text-align: center;}
.FAG_link{text-decoration: none;}
.FAG_item,.FAG_item_th{height:32%;width: 32%;display: inline-block;vertical-align: top;}.FAG_item:hover .FAG_p,.FAG_item_th:hover .FAG_p{opacity:1;}
.FAG_item{margin:0px 2% 30px 0px;}.FAG_item_th{margin:0px 0px 30px 0px;}.FAG_item:last-child,.FAG_item_th:last-child{margin:0px;}.FAG_item:hover,.FAG_item_th:hover{box-shadow: 0 0 15px var(--black);}/*.FAG_aside:hover{filter: blur(2px);}*/
.FAG_aside{height:300px;overflow:hidden;background-position:center center;background-size:cover;}.FAG_aside_file{background-image:url("img/file.svg");}
.FAG_img{max-width:100%;max-height:100%;margin:0px auto;}
.FAG_p{color:#fff;margin:2%;padding:2% 2% 0px 2%;background-color:rgba(0, 0, 0, 0.91);opacity:0;position: relative;height: 92%;width: 92%;transition:all .2s ease;overflow: hidden;}